:root {
    --back-color: #e7e0e2;
    --secondary-back-color: black;
    --ternary-back-color: #0A1128;
    --tab-color: #CCBF8E;
    --sec-tab-color: #E1DABD;
    --font-size-base: 18px;
    --font-size-large: 24px;
    --my-black: #32383D;
    --my-gray: #676874;
    --my-pink: #f77f8f;
    --my-purple: #65318e;
    --my-blue: #4b61d1;
    --my-white: #d2c7e1;
    --my-transparent-white: #d2c7e18f;
    --my-midwhite: #e1b4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
    scrollbar-gutter: stable;
}

body {
    /*background-color: var(--back-color);*/
    background: radial-gradient(circle at 0% 0%, rgba(75, 97, 209, 0.25), rgba(75, 97, 209, 0) 23%),
radial-gradient(circle at 93% 88%, rgba(247, 127, 143, 0.07), rgba(247, 127, 143, 0) 26%),
radial-gradient(circle at 29% 7%, rgba(247, 127, 143, 0.13), rgba(247, 127, 143, 0) 50%),
radial-gradient(circle at 100% 60%, rgba(75, 97, 209, 0.08), rgba(75, 97, 209, 0) 31%),
linear-gradient(to bottom right, rgba(231, 224, 226, 1), rgba(231, 224, 226, 1));
    min-height: 100vh;
    margin: 0;
    color: #29212f;
    font-size: var(--font-size-base);
    overflow-x: hidden;
    overflow-y: scroll;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

    overflow: hidden;
    z-index: 1000;
}

#navbar a {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1em;
    text-decoration: none;
    font-size: var(--font-size-base);
    font-weight: 600;
    transition: 0.5s;

    color: var(--my-black);
}

#navbar a:not(#logo):hover {
    scale: 1.1;
}

#logo {
    width: 0px;
    height: 0px;
}

#logo-image, #logo-image-narrow {
    width: 300px;
    height: auto;

    position: fixed;
    left: 10px;
}

#logo-image-narrow {
    display: none;
    width: 73px;
    height: auto;
}

@media screen and (max-width: 440px) {
    #logo-image { display: none; }
    #logo-image-narrow { display: block; }
}

#menu {
    display: flex;
    gap: 2rem;
}

#menu a {
    text-decoration: none;
}

#hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--my-black);
}

#close {
    position: relative;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
}

#close::before, #close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 30px;
    border-radius: 2px;
    background: var(--my-black);
    transform-origin: center;
}

#close::before { transform: translate(-50%, -50%) rotate(45deg); }
#close::after { transform: translate(-50%, -50%) rotate(-45deg); }

#overlayNav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(20px);
    z-index: 2000;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 0.4s ease;
}

#overlayNav.active {
    transform: translateX(0);
}

#overlayNav #close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 3rem;
    background: none;
    border: none;
    cursor: pointer;
}

#overlayMenu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    text-align: center;
}

#overlayMenu a {
    text-decoration: none;
    opacity: 0;
    transform: translateY(20px);
    color: var(--my-black);
    font-weight: 600;
}

#overlayNav.active #overlayMenu a {
    opacity: 1;
    transform: translateY(0);
}

#overlayNav.active #overlayMenu a:hover {
    scale: 1.1;
}

#overlayNav.active #overlayMenu a:nth-child(1) { 
    transition: opacity 0.4s ease 0.1s, 
                transform 0.4s ease 0.1s,
                scale 0.3s ease 0s;
}
#overlayNav.active #overlayMenu a:nth-child(2) { 
    transition: opacity 0.4s ease 0.2s, 
                transform 0.4s ease 0.2s,
                scale 0.3s ease 0s;
}
#overlayNav.active #overlayMenu a:nth-child(3) { 
    transition: opacity 0.4s ease 0.3s, 
                transform 0.4s ease 0.3s,
                scale 0.3s ease 0s;
}
#overlayNav.active #overlayMenu a:nth-child(4) { 
    transition: opacity 0.4s ease 0.4s, 
                transform 0.4s ease 0.4s,
                scale 0.3s ease 0s;
}

@media screen and (max-width: 1000px) {
    #menu { display: none; }
    #hamburger { display: block; }
}

.banner {
    position: relative;
    margin-top: 5rem;
    width: 100%;
    height: 20vh;
    min-height: 300px;
    /*background: linear-gradient(135deg, var(--back-color) 0%, var(--my-blue) 100%);*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-large);
    text-align: center;
}

.content-card {
    margin: 5em auto;
    margin-top: 0em;
    width: 80%;
    max-width: 750px;
    padding: 2em;
    background: radial-gradient(ellipse 500% 300% at 10% -30%, #edb8dd 0%, #e6949f 50%, #cebbe9 100%);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.75em;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.content-card :not(:last-child) {
    margin-bottom: 1em;
}

.content-card-light {
    margin-top: 0;
    background: radial-gradient(ellipse 500% 300% at 10% -30%, #e9d1e2 0%, #c5c3e3 50%, #d2c7e1 100%);
}

.content-block {
    margin: 5em auto;
    margin-top: 0em;
    width: 80%;
    padding: 1em;
    padding-top: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.75em;
}

.text-block {
    max-width: 800px;
    text-align: center;
    line-height: 1.75em;
}

.image-block {
    width: 100%;
    max-width: 1200px;
}

.content-block > *:not(:last-child) {
    margin-bottom: 1em;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: calc((300px * 3) + (2.5em * 2));
    margin-top: 1.5em;
    gap: 2.5em;
    width: 100%;
    place-items: center;
}

.image-flex {
    display: flex;
    flex-direction: row;
    place-items: center;
    max-width: calc(300px * 3);
    margin-top: 1.5em;
    width: 100%;
}

.more-content {
    grid-template-columns: 1fr;
    max-width: 800px;
    gap: 3em;
}

.image-item {
    width: 100%;
    max-width: calc(min(640px, 80%));
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.image-item:not(.more-content > .image-item) {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-item > *:not(:last-child) {
    margin-bottom: 1em;
}

.content-block .image-item p {
    margin-bottom: 0em;
}

.image-card {
    width: 80%;
    height: auto;
    border: 5px solid #e7e0e2;
    border-radius: 8px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 0 0 8px rgba(31, 38, 135, 0.1), inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.subtext {
    font-size: 15px; 
    color: var(--my-gray);
    line-height: 1.5em;
    max-width: 600px;
}

.more-content .subtext {
    margin-top: 0.5em;
}

.circular {
    border-radius: 50%;
}

.button {
    margin-top: 1em;
    padding: 0.75em 1.5em;
    color: #F0F0F0;
    font-weight: 500;
    background-color: #e6899e;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: var(--font-size-base);
    transition: 0.3s;
}

.button:hover, .button-small:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(177, 88, 166, 0.3);
    cursor: pointer;
}

.footer {
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg,  rgba(245, 200, 200, 0.511) 0%, var(--my-pink) 90%);
    color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-base);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: 10em;
    padding: 2em;
    gap: 2em;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}


.social-media a {
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    color: #f0eaf8;
}

.social-media a:hover {
    scale: 1.1;
}

.footer p {
    margin: 0;
    font-size: calc(var(--font-size-base) * 0.8);
}

#graphic-image {
    max-width: 80vw;
    max-height: 70vh;
    width: auto;
    height: auto;
}

@media screen and (max-width: 680px) {
    .image-flex {
        flex-direction: column;
        gap: 2.5em;
    }
}

@media screen and (max-width: 503px) {
    .social-media {
        flex-direction: column;
    }
}

#contact-form {
    max-width: 600px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form input, textarea {
    width: 80%;
    margin: 8px 0;
    padding: 8px;
    font-size: 15px;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#loading-overlay.active {
    visibility: visible;
    opacity: 1;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid var(--my-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

#loading-overlay p {
    color: white;
    font-size: 18px;
}

body.no-scroll {
    overflow-y: hidden;
    height: 100vh;
    padding-right: 0;
}

.resource-container {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    gap: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

.resource-card {
    width: 30%;
    height: auto;
    background: linear-gradient(200deg, #ea5e71c1 0%, #f77f8f6c 150%);
    backdrop-filter: blur(100px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    padding: 1.5em;
    gap: 1.5em;
}

.resource-card h3 {
    font-size: 32px;
    color: black;
}

.resource-list {
    color: var(--my-black);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.resource-list ul strong {
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 1250px) {
    .resource-container {
        flex-direction: column;
        max-width: 800px;
    }

    .resource-card {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .resource-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .resource-card {
        width: 90%;
    }
}

#donate {
    padding: 0.75em 1.5em;
    color: #F0F0F0 !important;
    font-weight: 500;
    background-color: var(--my-blue);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: var(--font-size-base);
    transition: 0.3s;
}

#donate-small {
    padding: 0.5em 1em;
    color: #F0F0F0 !important;
    background-color: var(--my-blue);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

#donate:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(177, 88, 166, 0.3);
    cursor: pointer;
}

#icon {
    width: 50px;
}

.footnote-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.75em;
}

.footnote-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;

    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1.5em;

    background: linear-gradient(180deg, rgba(245, 200, 200, 0.333) 0%, var(--my-pink) 100%);
}

.round-box {
    padding: 2em;
    width: fit-content;
    border-radius: 8px;
    border: 5px solid #e7e0e2;
    border-radius: 8px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), 0 0 8px rgba(31, 38, 135, 0.1), inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.feature {
    max-width: 300px;
}

.image-big {
    width: 100%;
    max-width: 750px;
}